<div class="jumbotron text-center">
    <h2 class="display-3">{{title}}</h2>
    <p class="lead">Jot down ides for your next TED conferences</p>
    <a href="/ideas/add class='btn btn-dark btn-lg">Add new note</a>
</div>